/*Fichier CSS des id des couleurs du verso des formes*/

#vert-bouteille{background-color: #2c9633;}
#vert-fonce{background-color: #5a840b;}
#vert-clair{background-color: #8abb25;}

#mauve-fonce{background-color: #6d2d76;}
#mauve-clair{background-color: #932091;}

#bleu-fonce{background-color: #536583;}
#bleu-turquoise-fonce{background-color: #088389;}
#bleu-turquoise-clair{background-color: #00aaa9;}
#bleu-ciel{background-color: #09a3e2;}

#rose-fonce{background-color: #d31f49;}
#rose-pale{background-color: #e878b8;}
#rose-bonbon{background-color: #ff3097;}

#orange-fonce{background-color: #f26522;}
#orange-clair{background-color: #f29603;}

#marron{background-color: #6c3231;}

#noir{background-color: black;}